<footer>
  <div class="left-container">
    <img src="{{ src }}" alt="{{ alt }}">
    <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
    <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
  </div>
  <div class="right-container">
    <p>Acesse nossas redes:</p>
    <div>
      <img src="../../../assets/icones/whatsapp.png" alt="">
      <img src="../../../assets/icones/instagram.png" alt="">
      <img src="../../../assets/icones/twitter.png" alt="">
    </div>
  </div>
</footer>
